<!DOCTYPE html>
<html>
<head>
    <title>ICA erbjudanden</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #fixed-table {
            width: 800px;
            height: 600px;
            table-layout: fixed;
            overflow: hidden;
        }
        #fixed-table th, #fixed-table td {
            width: 200px;
            word-wrap: break-word;
            white-space: normal;
        }
    </style>

</head>
<body>
    <h1>ICA Luthagen erbjudanden (fult presenterat men fortfarande bättre än matpriskollen)</h1>
    {{ table|safe }}
</body>
</html>
